.slider-container {
  display: flex;
}

.slider-card {
  flex: 0 0 230px;
  background-color: var(--color-white-bg);
  display: flex;
  background-position: bottom;
  justify-content: start;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  gap: 1rem;
  text-align: center;
}

.slider-card a {
  width: fit-content;
  padding: 0.5rem 1rem;
}

.slider-card-label {
  font-size: 1.75rem;
}

.slider-items-container {
  overflow: hidden;
  position: relative;
  background: var(--color-white-bg);
}

.slider-list-header {
  font-size: 1.25rem;
  padding: 1rem;
  padding-bottom: 0;
}

.slider-items-list {
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: start;
}

.slider-items-list::-webkit-scrollbar {
  display: none;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 6rem;
  width: 2.5rem;
  border: none;
  background: var(--color-white-bg);
  cursor: pointer;
  box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}

.slider-btn-left {
  left: 0.5rem;
}
.slider-btn-right {
  right: 0.5rem;
}

.slider-btn-right svg {
  rotate: 180deg;
}
