.input-container {
  display: flex;
  background: var(--color-white-bg);
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  height: 36px;
  width: 100%;
}

.input-container:focus-within {
  border-color: var(--color-border);
  box-shadow: var(--box-shadow);
}

.input-box {
  overflow: hidden;
  border: none;
  outline: none;
  width: 100%;
}

.input-prefix-container,
.input-suffix-container {
  padding: 0 8px;
}

.input-box-prefix {
  padding-left: 0;
}
.input-box-suffix {
  padding-right: 0;
}
