* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  list-style: none;
}

a,
img {
  text-decoration: none;
  color: inherit;
}
img {
  object-fit: cover;
}

:root {
  --color-white: #f0f0f0;
  --color-gray: #8a8a8a;
  --color-white-bg: #fff;
  --color-gray-bg: #f1f3f6;
  --color-black: #000;
  --color-light-black: #172337;
  --color-border: #e4e7ed;
  --color-primary: #2874f0;
  --color-primary-dark: #2455f4;
  --color-yellow: #ffe500;
  --color-green: #388e3c;
  --box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  --z-index-high: 999;
}
